{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Data Maturity Survey {% endblock %}</h1>

    <form method="POST" action="/">
        {{ form.csrf_token }}
        <p>
            {{ form.name.label }}
            {{ form.name(size=20) }}
        </p>

        {% if form.name.errors %}
            <ul class="errors">
                {% for error in form.name.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <p>
            {{ form.organization.label }}
            {{ form.organization(size=20) }}
        </p>

        {% if form.organization.errors %}
            <ul class="errors">
                {% for error in form.organization.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <p>
            {{ form.email.label }}
            {{ form.email(size=20) }}
        </p>

        {% if form.email.errors %}
            <ul class="errors">
                {% for error in form.email.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <p>
            {{ form.contact() }} {{ form.contact.label }}
        </p>

        {% if form.contact.errors %}
            <ul class="errors">
                {% for error in form.contact.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <p>
            {{ form.level_q1.label }}
            {{ form.level_q1() }}
        </p>

        {% if form.level_q1.errors %}
            <ul class="errors">
                {% for error in form.level_q1.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <p>
            {{ form.level_q2.label }}
            {{ form.level_q2() }}
        </p>

        {% if form.level_q2.errors %}
            <ul class="errors">
                {% for error in form.level_q2.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <p>
            {{ form.level_q3.label }}
            {{ form.level_q3() }}
        </p>

        {% if form.level_q3.errors %}
            <ul class="errors">
                {% for error in form.level_q3.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <p>
            <input type="submit" value="Submit">
        </p>
    </form>

{% endblock %}